extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        h1.text-center.text-primary= title
        p.text-center Welcome to #{title}

        if message
          if verificacao
            .alert.alert-success(role="alert")= message
          else
            .alert.alert-danger(role="alert")= message

        form(action="/cadastro" method="post" enctype="multipart/form-data" class="border p-4 rounded shadow bg-light")
          .mb-3
            label.form-label(for="vnome") Nome
            input.form-control(type="text" name="vnome" id="vnome" required value=(typeof vnome !== 'undefined' ? vnome : ''))

          .mb-3
            label.form-label(for="vemail") Email
            input.form-control(type="email" name="vemail" id="vemail" required value=(typeof vemail !== 'undefined' ? vemail : ''))

          .mb-3
            label.form-label(for="vsenha") Senha
            input.form-control(type="password" name="vsenha" id="vsenha" required)

          .mb-3
            label.form-label(for="vsenha1") Confirmar Senha
            input.form-control(type="password" name="vsenha1" id="vsenha1" required)

          .mb-3
            label.form-label(for="vavatar") Avatar
            input.form-control(type="file" name="vavatar" id="vavatar" required)

          button.btn.btn-primary.w-100(type="submit") Cadastrar

        .text-center.mt-3
          a(href="/" class="text-decoration-none") Voltar